In [78]:
import pandas as pd # importing pandas library

In [79]:
datacar=pd.read_csv("/content/train.csv") # reading the csv file located in datacar

In [80]:
datacar.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [81]:
datacar.isna().sum() #checked for null values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [59]:
datacar2 = pd.DataFrame(datacar)

In [60]:
# b. Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [61]:
datacar2['Mileage'] = datacar2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

datacar2['Engine'] = datacar2['Engine'].str.replace(' CC', '').astype(float)

datacar2['Power'] = datacar2['Power'].str.extract('(\d+\.\d+)').astype(float)

datacar2['New_Price'] = datacar2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [62]:
# a. Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them. Justify your action for this task.

In [63]:
datacar2['Mileage'].fillna(datacar2['Mileage'].median(),inplace=True)
datacar2['Engine'].fillna(datacar2['Engine'].median(),inplace=True)
datacar2['Power'].fillna(datacar2['Power'].median(),inplace=True)

datacar2['Seats'].fillna(datacar2['Seats'].mode()[0],inplace=True)

datacar2.drop('New_Price', axis=1, inplace=True)

In [64]:
outputcsv_file = 'cleandata.csv'
datacar2.to_csv(outputcsv_file, index=False)

In [65]:
datacar1=pd.read_csv("/content/cleandata.csv")

In [66]:
datacar1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [67]:
#looking for missing values in all the columns
datacar1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [68]:
datacar1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [69]:
datacar1['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [70]:
# c. Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value
datacar1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
datacar1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
datacar1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [71]:
datacar1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [72]:
outputcsv_file = 'converteddata.csv'
datacar1.to_csv(outputcsv_file, index=False)

In [73]:
# d. Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year

In [74]:
from datetime import datetime

In [75]:
currentyear = datetime.now().year

datacar1['CurrentAge'] = currentyear - datacar1['Year'] # To find car age substracting from current year

In [76]:
outputcsv_file = 'newcolumn.csv'
datacar1.to_csv(outputcsv_file, index=False)

In [77]:
datacar3=pd.read_csv("/content/newcolumn.csv")
datacar3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,CurrentAge
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,10